<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ .Title }} - prometheus-explorer</title>

	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧙‍♀️</text></svg>">

	<link href="/static/deps/Chart.min.css" type="stylesheet">

	<script defer src="/static/deps/Chart.bundle.min.js"></script>
	<script defer src="/static/deps/chartjs-plugin-annotation.min.js"></script>
	<!-- from http://davidbau.com/archives/2010/01/30/random_seeds_coded_hints_and_quintillions.html -->
	<script defer src="/static/deps/seedrandom.min.js"></script>
	<script defer src="/static/deps/js-yaml.min.js"></script>
	<script defer src="/static/board.js"></script>
	<script defer src="/static/explore.js"></script>

	<style>
	#global {
		position: fixed;
		bottom: 0;
		right: 0;
	}

	#search {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}

	#search pre {
		overflow-wrap: break-word;
		white-space: pre-line;
		max-width: 40em;
		max-height: 50vh;
		overflow: scroll;
		background-color: white;
		padding: 1ex;
	}

	#search pre .name {
		font-weight: bold;
	}

	article h1 {
		font-size: larger;
		font-family: monospace;
	}

	article.chart {
		position: relative;
		max-width: 50vh;
		max-height: 40vh;
		float: left;
		margin-right: 1em;
		margin-bottom: 1em;
	}

	.chart input {
		max-width: 45vh;
	}

	.chart canvas {
		margin-top: 1ex;
	}

	.query, .duration, .error { font-family: monospace; }

	.error { color: red; }

	textarea {
		width: 80%;
		min-height: 20em;
	}
	</style>
</head>

<body>
	<form id="search">
		<input type="search" placeholder="Search for metrics..." size="40" list="metric-names">
		<datalist id="metric-names"></datalist>
		<span class="duration"></span>
		<span class="error"></span>
		<pre></pre>
	</form>

	<form>
		<details open>
			<summary>config</summary>
			<textarea id="config">{{ .Config }}</textarea>
		</details>
	</form>

	<div id="global">
		<pre id="help">chart!

shortcuts:

  cpu of $service            - shortcut for cpu metrics of service' pods
  cpu throttling of $service - shortcut for cpu throttling metrics of service' pods
  memory of $service         - shortcut for memory usage of service' pods
</pre>

		<pre id="error" class="error"></pre>
	</div>

	<div id="charts"></div>

	<details>
		<summary>shortcuts</summary>
		<textarea id="shortcuts">{{ .Shortcuts }}</textarea>
	</details>
</body>
</html>
